
.login-container {
    background: white;
    padding: 40px;
    margin: 100px auto;
    border: 1px solid #4CAF50;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    box-sizing: border-box;
}
.login-h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.input-group {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.input-group input {
    width: 80%;
    padding: 14px 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}
.input-group input:focus {
    border-color: #ff758c;
    box-shadow: 0 0 5px rgba(255, 117, 140, 0.5);
}
.login-button {
    width: 100%;
    padding: 14px;
    background: blue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}
.login-button:hover {
    background: #e64764;
}
.forgot-password {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}
.register-link {
    margin-top: 20px;
    font-size: 14px;
}
.login-a {
    color: #ff758c;
    text-decoration: none;
    font-weight: bold;
}
.login-a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    .login-container {
        padding: 30px;
        width: 90%;
    }
    .input-group input {
        padding: 10px;
        font-size: 14px;
        margin-left: -10px;
    }
    .login-button {
        padding: 14px;
        font-size: 14px;
    }
    .forgot-password, .register-link {
        font-size: 12px;
    }
    .footer-container{
        margin: -40px 0px 25px 0px;
    
    }
    .footer-logo{
        margin: 0px 0px -50px 0px;
    }
}