
/* Student resourses */
.student-container {
    max-width: 800px;
    margin: 90px auto;
    padding: 20px;
    border-radius: 10px;
}

.student-h2 {
    font-size: 30px;
    font-weight: bold;
    color: #222;
    margin-bottom: 35px;
    text-align: center;
 
}

.resources {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.resource-box {
    width: 200px;
    background-color: #fff;
    border: 1px solid #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.resource-box img {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
}

.resource-box .student-h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.resource-box .student-p{
    font-size: 11px;
    margin-bottom: 6px;
}

.resource-box button {
    background: #007BFF;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.2s;
    font-family: Arial, sans-serif;
}

.resource-box button:hover {
    background: #0056b3;
}

/* Smaller Login Box */
.login-box {
    margin: 35px 0 -10px 0;
    background-color: #fff;
    border: 1px solid #4CAF50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-box .student-h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-box input {
    width: 80%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 13px;
}

.login-box button {
    background: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: 25%;
    transition: background 0.2s;
}

.login-box button:hover {
    background: #0056b3;
}
@media screen and (max-width: 600px) {
    /* student reviews */
    .student-h2{
        font-size: 20px;
        margin-top: -40px
    }
    .student-container{
        margin: 115px 0 40px 0;
    }
    .resource-box {
        width: 96px;
        height: 140px;
        padding:5px;
        margin: -7px;
    }
    .student-h3{
        font-size: 8px;
    }
    .resource-box .student-p{
        font-size: 8px;
    }
    .login-box student-h3{
        font-size: 15px;
    }
    .resource-box button {
        padding: 6px;
        font-size: 8px;
    }

    .resource-box img {
        width: 20px;
        height: 20px;
    }
    .login-box input{
        font-size: 10px;
    }

    .resource-box .student-h3 {
        font-size: 12px;
    }
    /* Smaller Login Box on Mobile */
    .login-box {
        width: 200px;
        padding: 10px;
    }
    .login-box button {
        width: 40%;
        font-size: 12px;
        padding: 6px;
    }
    .fw-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns in a row */
        gap: 10px;
    }
}