.container {
    max-width: 800px;
    margin: 120px 0px 60px 200px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
h1 {
    color: #333;
}
p {
    line-height: 1.6;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.back-link:hover {
    text-decoration: underline;
}
.success-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .container {
        margin: 90px 0 30px 10px;
        padding: 15px;
        width: 310px;
    }
    .success-img{
        width: 70%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }
    .back-link{
        font-size: 10px;
    }
}